.first-way {
    color: #0C3B2E !important;
}

.second-way {
    color: #F2F2F2;
}

.bg-first-way {
    background-color: #0C3B2E !important;
}

.bg-second-way {
    background-color: #F2F2F2;
}

.main-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #F2F2F2;
    text-decoration: none;
}


.this {
    transition: padding-top 2s;
 
}