.project-page {
    width: 100%;
    scroll-snap-align: start;
}

.grd-section1 {
    z-index: 50;
    height: 80dvh;

}

.grd-section2 {

    height: 20dvh;
}


.padding {
    padding-top: 4rem;
}

.fa-xl {

    padding: 0px 35px;
    font-size: 70px;


}

.btn-success {
    width: 45%;
    --bs-btn-color: #fff;
    --bs-btn-bg: #0C3B2E;
    --bs-btn-border-color: #0C3B2E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0C3B2E;
    --bs-btn-hover-border-color: #0C3B2E;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0C3B2E;
    --bs-btn-active-border-color: #0C3B2E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0C3B2E;
    --bs-btn-disabled-border-color: #0C3B2E;

}

.btn-outline-success {
    width: 45%;
    --bs-btn-color: #0C3B2E;
    --bs-btn-border-color: #0C3B2E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0C3B2E;
    --bs-btn-hover-border-color: #0C3B2E;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0C3B2E;
    --bs-btn-active-border-color: #0C3B2E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0C3B2E;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0C3B2E;
    --bs-gradient: none;
}

.title-page {
    margin-left: 8px;
    width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                    Card                                    */
/* -------------------------------------------------------------------------- */

.card-border {

    position: relative;
    max-width: 300px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    transition: all 0.4s;
}

.card-border:hover {
    box-shadow: 4px 4px 0 1px rgba(0, 0, 0);
}

.card-body {

    height: 48dvh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.title-card {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    border-bottom: 2px solid black;
    cursor: pointer;
    transition: all 0.4s;
}

.title-project {
    font-size: 20px;
    margin: 0;
    padding-top: 5px;
}

.content-card {
    text-align: start;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    text-indent: 3px;
}

.nav-card {
    display: flex;
    justify-content: space-between;


}

.btn-orange {
    padding: 10px;
    border: 1px solid black;
    background-color: orange;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.card-border:hover .btn {
    box-shadow: 2px 2px 0 1px rgba(0, 0, 0);
}

.btn-orange:focus {
    background: transparent;
}


/* ---------------------------------END-------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                               Bottom section                               */
/* -------------------------------------------------------------------------- */

.logo-band {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #0C3B2E;
    color: #F2F2F2;
    overflow: hidden;
}

.logo-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    animation: ticker-animation 12s linear infinite;

}

.logo-content span {
    margin-right: 20px;
    display: inline-block;
}

/* ---------------------------------END-------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 Height set                                 */
/* -------------------------------------------------------------------------- */


@media only screen and (max-height: 740px) {

    .card-body {
        height: 55dvh;
    }

}

@media only screen and (min-height: 1000px) {

    .card-body {
        height: 45dvh;

    }



}


@media only screen and (min-height: 1200px) {

    .card-body {
        height: 38dvh;

    }



}

/* -------------------------------------END---------------------------------- */



@media only screen and (min-width: 576px) and (max-width: 768px) {

    .carousel-set-prevP {
        left: -45px;
    }

    .carousel-set-nextP {
        right: -45px;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1200px) {



    .card-border {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }


    .columns-project {
        padding: 20px;
        width: 340px;
        height: 320px;
    }


    .prjc {
        width: 640px;

    }

    .carousel-set-prevP {
        left: -55px;
    }

    .carousel-set-nextP {
        right: -55px;
    }

    .fa-xl {
        width: 140px;

    }

    .font-size-projects {
        font-weight: 700;
        font-size: 30px;
    }

}


@media only screen and (min-width: 1200px) {

    .btn-success{
        width: 46%;
    }

    .btn-outline-success{
        width: 46%;
    }

    .fa-xl {
        width: 180px;
        font-size: 90px;

    }

    .font-size-projects {
        font-weight: 700;
        font-size: 35px;
    }

}

@media only screen and (min-width: 1400px) {

    .fa-xl {
        width: 200px;
    }

}

@keyframes ticker-animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}