/* -------------------------------------------------------------------------- */
/*                                   Nav Bar                                  */
/* -------------------------------------------------------------------------- */

.menu-ul ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu-ul li {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}

.burger {
    position: relative;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 4px;
}

.navbar {
    position: fixed;
    z-index: 400;
}

.special-font {
    font-family: 'Dancing Script', cursive;

}

.set-collapse {
    position: absolute;
    top: 50px;
    right: 0px;
}

.line-nav {
    height: 2px;
    border: 1;
    color: white;
}

.dropdown-menu {
    width: 250px;
    height: 270px;
}


.list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 7px;
}

.social-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5px;
}

/* ---------------------------------End---------------------------------------*/


/* -------------------------------------------------------------------------- */
/*                                Footer                                      */
/* -------------------------------------------------------------------------- */

.footer-page {
    width: '100%';
    scroll-snap-align: end;
    scroll-snap-stop: always;
    background-color: rgb(212, 57, 0);
    color: white;

}

.footer-h {
    height: 100dvh;
}

.nav-footer div:nth-child(5) {

    text-align: end;

}

.nav-footer div:nth-child(5) .btn-footer {

    text-align: end;
    width: 40px;

}

.click-div {

    margin: 0;
    padding: 2px 0px;
}

.ul-footer {
    list-style: 'none';
    padding: '0';
    margin: '0';
}

/* ---------------------------------End---------------------------------------*/


@media only screen and (min-width: 576px) {

    .class-absolute {
        display: block;
        position: absolute;
        top: 81.5dvh;
        right: 2.7em;
    }

}

@media only screen and (max-width: 768px) {

    .font {
        font-size: 1.5rem;
    }

    .burger {
        width: 29px;
        height: 22px;
    }
}

@media only screen and (min-width: 992px) {

    .class-absolute {
        display: block;
        position: absolute;
        top: 82vh;
        right: 2.8em;
    }

}

@media only screen and (min-width: 768px) {


    .set-collapse {
        top: 100px;
        right: 30px;
    }


}