.svg-form {
    position: absolute;
    overflow: hidden;
    width: 350px;
    height: 280px;
}



@media only screen and (min-width: 1024px) {


    .svg-form {
        width: 400px;
        height: 400px;

    }

}

.special-font {
    font-family: 'Dancing Script', cursive;

}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.footer-page {
    width: '100%';
    scroll-snap-align: end;
    scroll-snap-stop: always;
    background-color: rgb(212, 57, 0);
    color: white;

}

.footer-h {
    height: 100dvh;
}